/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }


  /* ----------------------------------------------- */


  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  .container{
    height: 650px;
    width: 650px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
    gap: 3px;
    background-color: black;
  }

  .tiles{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: bold;
  }
